body{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Quicksand';
    background: linear-gradient (#fdfffcff);
}

.header{
    width: 100%;
    min-width: 980px;
    background: #011627ff;
}

.head{
    width: 980px;
    margin: 0px auto;
    padding: 0;
    height: 85px;
}

.head li{
    list-style-type: none;
    float: left;
    text-align: left;
    color: #fdfffcff;
}

.head #site{
    margin-top: 25px;
}

.head #site a{
    color: #fdfffcff;
    text-decoration: none;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Parisienne';
}

.head form{
    margin-top: 15px;
    float: right;
}

.head form li{
    font-size: 13px;
    margin-left: 15px;   
}

.head form li a{
    color: #2ec4b6ff;
    text-decoration: none;
}

.head form input[type="text"]{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    border: 1px solid #011627ff;
    height: 25px;
    padding-left: 3px;
    
}

.head form input[type="password"]{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    border: 1px solid #011627ff;
    height: 25px;
    padding-left: 3px;
}

.head form input[type="submit"]{
    height: 25px;
    margin-top: 20px;
    background-color: #2ec4b6ff;
    color: #fdfffcff;
    border: 1px solid #011627ff;
    font-family: 'Quicksand';
}

.holder{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 980px;
}



.holder div{
    float: left;
    font-family: 'Quicksand';
}

.web_slogan{
    margin-top: 30px;
    width: 590px;
    text-align: left;
}

.web_slogan img{
    max-width: 100%;
    height: auto;
}

.web_slogan p{
    font-size: 20px;
    font-family: 'Quicksand';
    font-weight: bold;
    margin: 0px;
    color: rgb(11, 50, 82);
}

.create_account{
    margin-top: 10px;
    width: 390px;
    text-align: left;
}

.create_account h1{
    margin: 0px;
    font-size: 37px;
    color: #011627ff;
    font-weight: bolder;
}

.create_account p{
    font-size: 18px;
    color: #011627ff;
}

.create_account li{
    list-style-type: none;
    margin-top: 10px;
}

.create_account li #firstname{
    width: 45%;
}

.create_account li #surname{
    width: 45%;
}

.create_account li input[type="text"]{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #2ec4b6ff;
}

.create_account li input[type="password"]{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #2ec4b6ff;
}

.create_account li select{
    padding: 4px;
    float: left;
    border-radius: 3px;
    border: 1px solid #2ec4b6ff;
}

.create_account li a{
    margin-left: 10px;
    width: 150px;
    color: #011627ff;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

.create_account li a:hover{
    text-decoration: underline;
}

.create_account #terms p{
    color: #011627ff;
    font-size: 11px;
}

.create_account #terms a{
    display: inline;
    margin: 0px;
    font-size: 11px;
}

.create_account li input[type="submit"]{
    width: 205px;
    height: 45px;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-weight: bold !important;
    background: linear-gradient(#2ec4b6ff, #011627ff);
    background-color: #011627ff;
    box-shadow: inset 0 1px 1px #fdfffcff;
    border-color: #2ec4b6ff #2ec4b6ff  #011627ff;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.create_account #page{
    color: #011627ff;
    font-size: 13px;
    font-weight: bold;
}

.create_account #page a{
    display: inline;
    margin: 0px;
    font-size: 15px;
    color: #2ec4b6ff;
    
}
